*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    
    
}
.container-fruid{
    overflow-y: hidden;
}

.slider{
    width: 100%;
    height: 570px;
    position: relative;
    overflow: hidden;
    
}
.slides{
    width: 500%;
    height: 570px;
    display: flex;
    

}

.slide{
    width: 20%;
    height: 100%;
    background-size: cover;
    transition: 1s;

}
.button-switch{
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-bottom: 20px;
}
.slides input {
    display: none;
}
.manual-btn {
    border: 2px solid #fff;
    margin: 0 10px;
    cursor: pointer;
    width: 25px;
    padding: 5px;
    border-radius: 100%;
   
}
.active-search{
    width: 300px;
}
#radio-1:checked ~ .first{
    margin-left: 0;
}
#radio-2:checked ~ .first{
    margin-left: -20%;
}
#radio-3:checked ~ .first{
    margin-left: -40%;
}


.navigation-auto{
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.navigation-auto div{
    border: 2px solid #fff;
    margin: 0 10px;
    cursor: pointer;
    width: 25px;
    padding: 5px;
    border-radius: 10px;
    
}

.active{
    background-color: #fff;
}

#radio-1:checked ~ .navigation-auto .auto-btn1{
    background-color: #fff;
}
#radio-2:checked ~ .navigation-auto .auto-btn2{
    background-color: #fff;
}
#radio-3:checked ~ .navigation-auto .auto-btn3{
    background-color: #fff;
}


/* nav-head */
.navigation-head{
    width: 100%;
    height: 80px;
    position: absolute;
    top: 0;
    content: "";
    border-bottom: 1px solid rgb(139, 139, 139);
    display: flex;
    align-items: center;
    

}

.navigation-head--link{
    
    font-family: "Playfair Display";
    display: flex;
    justify-content: center;

    
}
.navigation-head--link ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}



.navigation-head--link ul li{
    list-style: none;
    margin-top: 16px;
    
    
    
   
}


.navigation-head--link ul li a{
    text-decoration: none;
    color: #333;
    font-size: 18px;
    margin:0 26px;
    font-weight: 700;

}
.navigation-head--content {
    display: flex;
    flex: 1;
    justify-content: space-between;
    

}
.head-font--icon{
    display: flex;
    justify-content: center;
    justify-self: flex-end;
}

.head-font--icon ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.head-font--icon ul li{
    list-style: none;
    margin-right: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    margin-right: 80px;
    
}

.head-font--icon ul li a{
    color: #333;  
}


.searching{
    position: relative;
    width: 400px;
    height: 29px;
    background-color: rgba(0, 0, 0, 0);
    outline: none;
    border-top: #fff;
    border-right: #fff;
    border-left: #fff;
    border: hidden;
    
}
.isearchm{
    margin-top: -3px;
    position: absolute;
    margin-left: 370px;
    z-index: 2;
    cursor: pointer;
    
}
.activeee{
    outline: none;
    border-top: #fff;
    border-right: #fff;
    border-left: #fff;
    border-bottom: 1px solid #333;
}

.searchingg {
    margin-right: 30px;
    margin-bottom: 3px;
    width: 42px;
    height: 32px;
    background-color: rgba(0, 0, 0, 0);
    
    outline: 0;
    border-width: 0 0 1px 0;
    border-color: #919191;
    
    
}
.isearchh {
    position: relative;
    right: -40px;
    z-index: 2;
    
    
}

/* option */
.category{
    border: #fff;
    outline: none;
    margin-left: 120px;
    margin-top: 30px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    
}
.main{
    
    display: block;
    justify-content: center;
    padding: 0 70px 30px;
    
}
.text-body{
    margin: 47px;
}
.text-body--p1{
    font-weight: bold;
    font-size: 36px;
    font-family: "Playfair Display";
    display: flex;
    justify-content: center;
}
.text-body--p2{
    margin-top: 35px;
    margin-bottom: 35px;
    font-weight: 400;
    font-size: 48px;
    font-family: "Playfair Display";
    display: flex;
    justify-content: center;
}
.text-body--p3{
    font-weight: 300;
    font-size: 18px;
    display: flex;
    text-align: center;
    font-family: "Lato";
    justify-content: center;
}

.maintain1{
    display: flex;
    justify-content: space-around;
    margin-top: 77px;
}
.maintain-decor{
    text-decoration: none;
}


.maintain-content{
    
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-weight: 700;
    color: #000;
    margin-top: 10px;
}

.maintain-p{
    display: flex;
    justify-content: center;
    margin-top: -18px;
    font-family: "Playfair Display";
    color: rgb(0, 0, 0);
    font-weight: 700;
}

/* Pay */
.pay{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    margin-top: 57px;
    
}
.pay-sale{
    font-size: 28px;
    font-family: "Playfair Display";
    font-weight: 700;
    margin-bottom: 50px;
}
.pay-origin{
    font-size: 16px;
    text-decoration: line-through;
    position: absolute;
    top: 0;
    left: 730px;
    
}

/* hover */
#btn-addtocard{
    width: 236px; 
    height: 50px; 
    font-size: 14px; 
    font-weight: 700; 
    font-family: lato; 
    background: #565556;
}
#btn-addtocard:hover{
    background-color: #f59393;
    border: 1px solid #f59393;
}

/* line */
.line{
    
    
    margin: 30px 70px;
    
    border-bottom: 1px solid grey;
}



/* footer */
.footer{
    background: #000;
    color: #fff;
    height: 300px;
    margin-top: 70px;
}
.row-footer--left{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.row-footer--left div{
    margin-top: 10px;
}

.footer-suggested{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.footer-suggested div{
    margin-top: 6px;
}

.footer-right{
    margin-top: 20px;
}
.footer-right div{
    margin-top: 6px;
}


.bar-reponsive {
    position: absolute;
    line-height: 80px;
    right: 20px;
    display: none;
    
}
.content-reponsive{
    position: absolute;
    right: 0;
    left: 0;
    top: 100%;
    background-color: #fff;
      
}

.footer-right--icon a i{
    overflow: hidden;
}

/* reponsive link */
/* .navigation-head--reponsive{
    
} */
.navigation-head--reponsive li{
    list-style-type: none;

}
.content-reponsive{
    display: none;
}
.navigation-head--reponsive ul{
    display: flex;
    align-items: center;
    flex-direction: column;

}
.navigation-head--reponsive ul li a{
    text-decoration: none;
    color: #333;
    font-size: 20px;
    margin:0 15px;
    
 
}



/* icon reponsive */
.navigation-reponsive--icon ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.navigation-reponsive--icon ul li a{
    color: #333;
}

@media screen and (max-width: 500px){
    .content-reponsive{
        margin-left: -280px;
    }
    .navigation-head--content{
        display: none;
    }
    .navigation-head--reponsive{
        overflow-y: hidden;
    }
    .bar-reponsive{
        display: block;
    }
    .maintain-p1{
        display: flex;
        justify-content: center;
        
    }
    .maintain-p2{
        display: flex;
        text-align: center;
        
    }
    
    .product-imgs--content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .maintain2-img img{
        width: 100%;
    }
    .beaphro .beaphro-content1{
        display: flex;
        text-align: center;
    }
    .explore-content1{
        text-align: center;
    }

    .explore .explore-father--col{
        display: flex;
        flex-direction: column;
    }
    .content-reponsive .navigation-head--reponsive li{
        margin-bottom: 12px;
        
    }
    .content-reponsive .navigation-head--reponsive li a{
        font-family: "Playfair Display";
        font-weight: 700;
        font-size: 18px;

    }
    
}

@media screen and (max-width: 500px){
    .content-reponsive{
        margin-left: -280px;
    }
    .navigation-head--content{
        display: none;
    }
    .bar-reponsive{
        display: block;
    }
    
    
   
    .text-body--p1 {
        font-weight: bold;
        font-size: 36px;
        font-family: "Playfair Display";
        display: flex;
        justify-content: center;
    }
    

    .text-body--p2 {
        margin-top: 35px;
        margin-bottom: 35px;
        font-weight: 400;
        font-size: 48px;
        font-family: "Playfair Display";
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .text-body--p3 {
        font-weight: 300;
        font-size: 18px;
        display: flex;
        text-align: center;
        font-family: "Lato";
        justify-content: center;
        text-align: center;
    }
    .main{
        padding: 0 30px 30px;
    }

    .maintain1{
        display: block;
        
    }
    .img-father{
        display: block;
        justify-content: center;
        padding-left: 65px;
    }
    .img-father img{
        display: block;
        justify-content: center;
        
    }
    .footer-right{
        display: block;
        justify-content: center;
    }
    .footer{
        overflow: hidden;
    }
    .footer-right--p, .footer-right--p2{
        display: block;
        
        text-align: center;
    }
    .footer-right--icon  {
        display: flex;
        justify-content: flex-end;
        

    }
      

    
    
}



























